h1{
    text-align: center;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 75vw;
    padding: 10px;

}

.card {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #0a53be;
}



